* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 300px;
  height: 350px;
}
form{
  width: 300px;
  height: 350px;
}
form input{
  display: block;
  margin: 10px;
  padding: 10px;
  width: 300px;
}
label{
padding: 10px;
}
button{
  margin: 20px 0;
}